<!-- views/partials/header.ejs -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style=" background: linear-gradient(to bottom right, #ccff99 0%, #66ff33 0%);    box-shadow: 0 8px 6px -6px #999;
">
  <a class="navbar-brand text-white" href="#">Navbarss Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-white  ">
      <li class="nav-item active">
        <a class="nav-link text-white " href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/pay">आम्दानी/खर्च</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link text-white  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/kaathdaura">काठ/दाउरा</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white ml-2 "  href="/upavokta">उपभाेक्ता</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/padhadhikaari">पदाधिकारी</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/daybookkhoj">दैनिकी किताब</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/ledger">लेजर</a>
      </li>
        <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/jeansisaman">जिन्सी सामान</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white ml-2 " href="/ghumtikosh">घुम्तीकाेष</a>
      </li>

    </ul>
    
  </div>
</nav>