<div class="row">
    <div class="col-md-2  p-0 " style="font-size:20px; max-height:300px; oveflow-y:scroll;">
        <ul class="list-group border border-2  bg-light p-0">
            <li class="list-group-item p-0  "><a style="text-decoration:none; color:white;" class="btn btn-success w-100 rounded-0" href="/jeansisaman">डाटा राख्नुहाेस्</a></li>
          
            <li class="list-group-item mt-2 p-0 border-white"><a style="text-decoration:none; color:white;" class="btn btn-success w-100 rounded-0" href="/jeansisamansearch">खाेज</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7  mt-4 text-center">
        <div class="row m-0">
          <!--   <div class="col-md-12">
                <label>उपभोक्ता नं </label>
                <br />
                <input class="d-inline text-center form-control w-100" id="userid">
            </div> -->
           <table style="border:1px solid black" cellspacing="0" class=" mt-4 p-0 col-md-12 table  jeansisamantable">
                <tr class="row m-0 ">
                    <th class="col-md-1 ">क्रम</th>
                    <th class="col-md-4">नाम</th>
                    <th class="col-md-3">संख्या</th>
                    <th class="col-md-4">स्थिति </th>
                </tr>
            </table>
        </div>
        
    </div>
</div>