
<div class="salespurchaseform ">
	<form id="salespurchasetransaction" onkeypress="return event.keyCode != 13;"  action="/pay/2" method="post">
<div class="row">

    <div class="col-12 mt-2 salespurchasebill">
        <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle1">बिक्री</label><label class="ml-3">नं</label><h6 class='ml-2 text-dark d-inline mr-5 paymentno'></h6>
         <input id="salesdate" name="salesdate" style="width:100px !important; " type="text" class=" ml-2 form-control border-0 mr-3 text-left p-0 d-inline float-right " autocomplete="off" />
        <label class='salesdateclass text-dark d-inline float-right  '>मिति:</label>
       
        <br>
        <label style="font-size:15px;">बिक्री प्रकार</label>
        <input type="text" list="bikritype" name="bikritypes" id="bikritypes" class="form-control w-25 d-inline ml-2 mr-2 " autofocus>
        <datalist id="bikritype" >
            <option>उपभाेक्ता भित्र विक्री</option>
            <option>पाेल चिरान</option>
            <option>जि.ब. आपूर्ति </option>
            <option>लिलाम प्रक्रिया</option>
        </datalist>
        <div class="salespurchase d-inline">
        </div>      
         
        <ul class="list-group d-none">
        </ul>
        <br>
  	
    </div>
</div>
<p class="font-weight-bold"> काठ बिक्री</p>

    <div style="max-height: 400px;" class="table-responsive mt-3">
        <table class="salestable table table-bordered">
            <tr class=" m-0 bg-dark text-white row text-center">
            	<th class="col-md-1">S.N.</th>
                <th class="col-md-1">गुल्ली नं</th>
                <th class="col-md-4">काठकाे नाम</th>
                <!-- <th class="col-md-1">ग्रेड</th> -->
                <th class="col-md-2">परिमाण</th>
                <th class="col-md-2">मूल्य/Cft</th>
                <th class="col-md-2">जम्मा</th>
            </tr>
        </table>
    </div>
    <p class="font-weight-bold"> दाउरा बिक्री</p>
    <div class="row">
        <div class="col-md-12 ">
            <input type="text" class="form-control border rounded-0 text-center d-inline w-25" placeholder="परिमाण" name="daauraquantity" id="quantity-0">
            <input type="text" class="form-control border rounded-0 text-center d-inline w-25" placeholder="मूल्य/चट्टा" id="per-0" name="daauraper">
            <input type="text" id="amount-0" class="form-control text-center rounded-0 d-inline w-25" placeholder="जम्मा
" name="daauratotal">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ml-5"></div>
       
        <label class="d-inline form-control-sm  text-center">कुल रकम</label>
        <input class="d-inline form-control-sm col-md-2  border-0 text-center" name="totalamount" id="totalamount" value="रू 0">
<input type="number" id="totallist" name="totallist" value="1" class="d-none">
        <button type="reset" class="btn ml-0 d-none resetpayment justify-content-center  btn-primary"> Reset
        </button>
        <div class="col-md-1"></div>
        <br></br>
    
    </div>
        <button type="submit"  class="btn mr-2  btn-sm float-right btn-primary"> जाेड्नुहाेस
        </button>
</form>
</div>
<datalist id="grade">
    <option>छैन</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
</datalist>