<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin:auto;width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">समिति पद बनाउनुहोस</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="samitiposts" onkeypress="return event.keyCode != 13;">
                <div class="modal-body ">
                    <div class="row">
                        <div class="col-md-10 samitipost">
                            <label style="font-size: 12px;">पदको नाम</label><input type="text" name="samitipost" id="samitipost" tabindex="-1" class="ml-2  border-0 w-75 form-control d-inline" required autofocus><br></br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary">जोड्नुहोस</button>
                </div>
            </form>
        </div>
    </div>
</div>