<div class="row ">
    <div class="col-md-2">
        <nav class="nav flex-column " style="color:red; border:1px solid green; box-shadow:2px 2px green;">
            <a class="nav-link upavoktaadd upavoktaform-1" style="color:red; border:1px solid green; box-shadow:2px 2px green;" id="upavoktaform-1">उपभाेक्ता थप</a>
            <a class="nav-link upavoktakhoj upavoktaform-2" style="color:red; border:1px solid green; box-shadow:2px 2px green;" id="upavoktaform-2">उपभाेक्ता खाेज</a>
             <a data-toggle="modal" data-target="#locationModal" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link padhadhikaarititle " >  ठेगाना थप्नुहोस</a>
             <a data-toggle="modal" data-target="#renewmembershipModal" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link padhadhikaarititle " > सदस्य नविकरण</a>
        </div>
    
    <div class="col-md-10">
        <form class="upavoktaaddform" action="" onkeypress="return event.keyCode != 13;">
            <div class="row mt-3 upavoktaformshow-1">
                <div class="col-md-11">
                    <br>
                    <table class="table  upavoktatable  table-sm">
                        <tr class=" m-0  row text-center bg-primary">
                            <th style="font-size:20px !important;"  class="col-md-2">उपभाेक्ता नं</th>
                            <th  style="font-size:20px !important;" class="col-md-3">नाम</th>
                            <th style="font-size:20px !important;" class="col-md-2">थर </th>
                            <th style="font-size:20px !important;" class="col-md-3">ठेगाना</th>
                            <th  style="font-size:20px !important;" class="col-md-2">लिङ्ग</th>
                        </tr>
                    </table>
                    <button type="submit" class="btn float-right btn-outline-primary printbutton">जोड्नुहोस</button>
                    <button type="reset" id="resetuserform" class="btn btn-outline-primary d-none">Reset</button>
                </div>

                            </div>
        </form>
        <form class='upavoktakhojform '>
            <div class='upavoktakhoj upavoktaformshow-2 align-middle d-none  row form-group'>
                <div class="col-md-11 text-center mt-4 ">
                    <select style="text-align-last:center; text-align: center;" class='form-control d-inline w-25 ml-4 ' id='upavoktakhojaddress' name='upavoktakhojaddress'>
                        <option value='0'>सबै</option>
                <% locationlist.forEach(function(result){ %>
                        <option value="<%= result.id %>"><%= result.name %></option>
                  
                        <% }) %>
                    </select><select style="text-align-last:center; text-align: center;" name='upavoktakhojsex' class='form-control ml-4 d-inline w-25' id='upavoktakhojsex'>
                        <option value='2'>सबै</option>
                        <option value='0'>पुरुष</option>
                        <option value='1'>महिला</option>
                    </select>
                    <a class='btn ml-2 btn-outline-primary col-md-1 upavoktakhojbutton'>खाेज</a>
                </div>
                <div class="col-md-11 mt-2 appendsearch">
                </div>
            </div>
        </form>
    </div>
</div>