<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/stylebilling %>
    <style>
table tr th
{
	font-size: 12px !important;
}
</style>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <% include ../partials/ghumtikoshsearch %>
</main>
<script type="text/javascript" src="/js/jquery.nepaliDatePicker.min.js"></script>
<link rel="stylesheet" href="/js/nepaliDatePicker.min.css" >
<script src="../js/ghumtikoshsearch.js"></script>


</body>
</html>