<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/stylebilling %>

</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <% include ../partials/ghumtikoshbill %>
</main>
<script type="text/javascript" src="/js/jquery.nepaliDatePicker.min.js"></script>
<link rel="stylesheet" href="/js/nepaliDatePicker.min.css" >
<script src="../js/ghumtikoshbill.js"></script>


</body>
</html>