<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/stylebilling %>

</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <% include ../partials/khumtikosh %>
</main>
<script src="../js/reserve.js"></script>


</body>
</html>