<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title></title>
</head>

<body>
    <caption>Student Attendance Sheet</caption>
    <table class=attendancetable border=1>
        <tr>
            <th>S.N</th>
            <th>Student's Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
            <th>32</th>
        </tr>
    </table>
    <script type=text/javascript> for(i=0;i<30;i++) { $('.attendancetable').append(`<tr class=m-0 row text-center>
        <td id=sn>${i}</td>
		
		`);
	 for(J=0;j<32;j++)
	 {
	 	$('.attendancetable').append(`<td id=studentname><input type=text></td>`);
	 }
			

			
		$('.attendancetable').append(`</tr>`);
	}
</script>
</body>

</html>