<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/stylebilling %>
    <style>
table,tr,th,td
{
	border:1px solid black;
	font-size: 20px !important;
}

a:active
{
	background-color:red !important;
}
</style>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<div class="row mt-4 appendresult">
            <div class="col-md-2">
                <% include ../partials/groupledger %>

            </div>
            <div id="displayledger" class="col-md-7 ">
<table class="table ">
	<tr class="row m-0 text-center">
		<th class="col-md-4">शीर्षकको नाम</th>
		<th class="col-md-4">शीर्षक प्रकार </th>
		<th class="col-md-4"> रकम</th>
	</tr>

<% results1.forEach(function(result,count){ %>
	<tr class="row m-0 p-0 text-center">
		<td class="col-md-4"><%= result.katitle %></td>
		<% if (result.type==='k') { %>
		<td class="col-md-4">खर्च</td>

		<% } else { %>
		<td class="col-md-4">अाम्दानी</td>
		<% } %>
		<td class="col-md-4"><%= result.totalamount %> </td>
	</tr>
<% }) %>
</table>
</div>
<div class="col-md-3 totaldc">
	<div class="row">
	<div class="col-md-5 text-center">

	<label>जम्मा खर्च </label>
	<br/>
	<label class="text-center ml-1">रू<%= totalkharcha %></label> 
</div>
<div class="col-md-6 text-center">
	<label>जम्मा आम्दानी</label> <br/>
	<label class="ml-1">रू<%= totalaamdani %></label>
</div>
</div>
</div>
</div>
<script src="../js/groupledger.js"></script>
</body>
</html>