<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/stylebilling %>

</head>
<body>
<datalist id="liststatus">
<option>राम्रो</option>
<option>नराम्रो</option>
</datalist>
<header>
    <% include ../partials/header %>
</header>

<main>
     <% include ../partials/jeansisaman %> 
   

</main>
<script type="text/javascript" src="/js/jquery.nepaliDatePicker.min.js"></script>
<link rel="stylesheet" href="/js/nepaliDatePicker.min.css" >
<script src="../js/jeansisaman.js"></script>


</body>
</html>