<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <% include ../partials/stylepayment %>
    <script src="/reload/reload.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row mt-4">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <% include ../partials/sales %>
                <% include ../partials/kaathentry %>
                <% include ../partials/dauraentry %>
            </div>
            <div class="col-md-2">
                <nav class="nav flex-column">
                    <a style="border:1px solid black;" class="nav-link" href="/kaathdaura">बिक्री</a>
                    <a data-target="#kaathbibaranform" id="kaathformclick" data-toggle="modal" style="border:1px solid black;" class="nav-link">काठ विवरण</a>
                    <a data-target="#itemModal" id="kaathformclick" data-toggle="modal" style="border:1px solid black;" class="nav-link">काठ/दाउरा</a>
                    <a id="kaathformclick" href="/kaathdaurastatus" style="border:1px solid black;" class="nav-link">काठ/दाउरा रेकर्ड</a>
                    <a data-target="#daurabibaranform" id="kaathformclick" data-toggle="modal" style="border:1px solid black;" class="nav-link"> दाउरा विवरण</a>
                    <a id="kaathformclick" href="/banpaidawar" style="border:1px solid black;" class="nav-link">वन पैदावर</a>
                </nav>
            </div>
        </div>
    </main>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/nepali-date-picker@2.0.0/dist/jquery.nepaliDatePicker.min.js" integrity="sha384-bBN6UZ/L0DswJczUYcUXb9lwIfAnJSGWjU3S0W5+IlyrjK0geKO+7chJ7RlOtrrF" crossorigin="anonymous"></script>
    <script src="../js/sales.js"></script>
    <script src="../js/itemcreate.js"></script>
    <script src="../js/itemgroupcreate.js"></script>
    <!-- <script src="../js/pay.js"></script> -->
    <script src="../js/kaathbibaran.js"></script>
</body>

</html>