<div class="row">
   <div class="col-md-2  p-0 " style="font-size:20px; max-height:300px; oveflow-y:scroll;">
        <ul class="list-group border border-2  bg-light p-0">
            <li class="list-group-item p-0  "><a style="text-decoration:none; color:white;" class="btn btn-success w-100 rounded-0" href="/ghumtikosh">डाटा राख्नुहाेस्</a></li>
            <li class="list-group-item mt-2 p-0 border-red"><a style="text-decoration:none; color:white;" class="btn btn-success w-100 rounded-0" href="/ghumtikoshbill">प्राप्ति</a></li>
            <li class="list-group-item mt-2 p-0 border-white"><a style="text-decoration:none; color:white;" class="btn btn-success w-100 rounded-0" href="/ghumtikoshsearch">खाेज</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="paymentreceiptjournalcontraform">
            <div class="row">
                <div class="col-12 mt-2 billdata">
                    <br/>
                    <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle">घुम्तीकाेष</label><!-- <label class="ml-3">नं</label><h6 class=' text-dark  ml-2 d-inline mr-5 paymentno'></h6> -->
                    <input form="ghumtikoshinitialform" autocomplete="off" name="date" id="datechange"  class="border-0 d-inline p-0   float-right" style="font-size: 15px;" >
                   <h6 class='dates text-dark d-inline float-right mt-1 mr-2'>मिति: </h6>
                </div>
            </div>
            <form id="ghumtikoshinitialform" class="ghumtikoshinitialform" onkeypress="return event.keyCode != 13;" onsubmit="return removedisable()"  action="/ghumtikoshsubmit"  method="post">
                <div style="max-height: 400px;" class="table-responsive mt-2">
                    <table class="paymentheader table table-bordered  ghumtikoshtable">
                        <tr class=" m-0 bg-dark text-white row text-center">
                            <th class="col-md-3">क्रम</th>
                            <th class="col-md-4">पहिचान संख्या</th>
                            <th class="col-md-5">रकम</th>
                            
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-5"></div>
                    <label class="d-inline ml-5 form-control-sm text-center  col-md-2 " id="total">
                        रु.0</label>
                    
                    <button type="reset" class="btn ml-2 d-none resetform justify-content-center ghumtikoshreset btn-danger"></button>
                
               
            
                    <button type="submit"   class="btn ml-1 h-25 float-right col-md-1 btn-primary"><i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            
            </form>
        </div>