<div class="modal fade" id="kaathnameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin:auto;width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">काठको नाम</h5>
                <button type="button" class="closecategory close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="kaathnameinformations" method="post" action="" onkeypress="return event.keyCode != 13;" autocomplete="off" >
                <div class="modal-body ">
                    <div class="row ">
                        <div class="col-md-10 kaathnameinformation">
                            <label id="clickcatname" for="kaathname" style="font-size: 12px;">नाम</label><input type="text" name="kaathname" id="kaathname" class="ml-2  border-0 w-75  d-inline" required autofocus ><br></br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary">जोड्नुहोस</button>
                </div>
            </form>
        </div>
    </div>
</div>